<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Alihkan semua permintaan sitemap.xml langsung ke folder public
    RewriteRule ^sitemap\.xml$ public/sitemap.xml [L]
    
    # Alihkan semua permintaan robots.txt langsung ke folder public
    RewriteRule ^robots\.txt$ public/robots.txt [L]

    # Rule umum untuk CI4 agar tidak perlu ngetik /public/ di URL
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>